*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
}

.userScoreDisp, .computerScoreDisp{
    border: 2px solid black;
    text-align: center;
}